/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.infoDiv {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: 0 auto;
    margin-right: 80%;
    margin-top: 50px;
}

.field {
    margin: 80px 0;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.logoutDiv {
    position: absolute;
    top: 10px; /* Abstand zum oberen Rand */
    right: 10px; /* Abstand zum rechten Rand */
}

#login-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

#login-button:hover {
    background-color: #0056b4;
    cursor: pointer;
    }